@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  background: #84a178;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0 32px;
  }

  @include desktop {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  border-radius: 10px;
  border: none;
  background: #f8d24e;

  &:hover {
    background: #0a8817;
  }

  &:active,
  &:focus {
    color: #fcfcfc;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
