@import './utils/mixins';
@import './common';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/contacts';
@import './layouts/customer-reviews';
@import './layouts/gallery';
@import './layouts/products';
@import './layouts/footer';
@import './layouts/modal-buy-now';
