<section class="advantages">
  <div class="container-adv">
    <h2 class="invisible">Переваги</h2>


      <ul class="advantages-list">
        <li class="advantages-list_item">
          <div class="insite">
            <svg class="advantages-list_icon" width="50" height="50">
              <use href="#">
              </use>
            </svg>
          </div>
          <h3 class="advantages-list_title">721</h3>
          <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-list_item">
          <div class="insite">
            <svg class="advantages-list_icon" width="50" height="50">
              <use href="#">
              </use>
            </svg>
          </div>
          <h3 class="advantages-list_title">16kg</h3>
          <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-list_item">
          <div class="insite">
            <svg class="advantages-list_icon" width="50" height="50">
              <use href="#">
              </use>
            </svg>
          </div>
          <h3 class="advantages-list_title">84</h3>
          <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
  </div>
</section>