<section class="contacts">
  <div class="container">
    <ul class="contact">
      <li class="contact__card">
        <h2 class="contact__title">CAFE</h2>
        <p class="contact__subtitle">Chicago</p>
        <p class="contact__adress">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <hr />
        <p class="contact__subtitle-date">Monday - Friday</p>
        <p class="contact-subtitle-time">06:00 AM - 10:00 PM</p>
        <p class="contact__subtitle-date">Saturday - Sunday</p>
        <p class="contact-subtitle-time">08:00 AM - 16:00 PM</p>
        <hr />
        <a class="contact__information" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contact__information" href="malito:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contact__card">
        <h2 class="contact__title-middle">FOODTRUCK</h2>
        <p class="contact__subtitle">Los Angeles</p>
        <p class="contact__adress">
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </p>
        <hr />
        <p class="contact__subtitle-date">Monday - Friday</p>
        <p class="contact-subtitle-time">06:00 AM - 10:00 PM</p>
        <p class="contact__subtitle-date">Saturday - Sunday</p>
        <p class="contact-subtitle-time">08:00 AM - 16:00 PM</p>
        <hr />
        <a class="contact__information" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contact__information" href="malito:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contact__card">
        <h2 class="contact__title">CAFE</h2>
        <p class="contact__subtitle">New York</p>
        <p class="contact__adress">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
        <hr />
        <p class="contact__subtitle-date">Monday - Friday</p>
        <p class="contact-subtitle-time">06:00 AM - 10:00 PM</p>
        <p class="contact__subtitle-date">Saturday - Sunday</p>
        <p class="contact-subtitle-time">08:00 AM - 16:00 PM</p>
        <hr />
        <a class="contact__information" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contact__information" href="malito:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contact__buttons">
      <button class="btn contact__btn-location">Our Locations</button>
      <button class="btn contact__btn-franchise">Franchise</button>
    </div>
  </div>
</section>
