<section class="contacts" id="contacts">
  <div class="container">
    <ul class="contact">
      <li class="contact__card">
        <h2 class="contact__title">CAFE</h2>
        <p class="contact__subtitle">Chicago</p>
        <address>
          <a href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+США/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            class="contact__address" target="_blank" rel="noreferrer noopener">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </address>
        <hr />
        <p class="contact__subtitle-date">Monday - Friday</p>
        <p class="contact-subtitle-time">06:00 AM - 10:00 PM</p>
        <p class="contact__subtitle-date">Saturday - Sunday</p>
        <p class="contact-subtitle-time">08:00 AM - 16:00 PM</p>
        <hr />
        <a class="contact__information" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__information" href="malito:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact__card">
        <h2 class="contact__title-middle">FOODTRUCK</h2>
        <p class="contact__subtitle">Los Angeles</p>
        <address>
          <a class="contact__address"
            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+США/@33.8835263,-118.4125173,17z/data=!4m13!1m7!3m6!1s0x80c2b3eca6743829:0x98448969b9b4373d!2s1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+США!3b1!8m2!3d33.8835263!4d-118.4103286!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
            target="_blank" rel="noreferrer noopener">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </address>
        <hr />
        <p class="contact__subtitle-date">Monday - Friday</p>
        <p class="contact-subtitle-time">06:00 AM - 10:00 PM</p>
        <p class="contact__subtitle-date">Saturday - Sunday</p>
        <p class="contact-subtitle-time">08:00 AM - 16:00 PM</p>
        <hr />
        <a class="contact__information" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__information" href="malito:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact__card">
        <h2 class="contact__title">CAFE</h2>
        <p class="contact__subtitle">New York</p>
        <address>
          <a href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+США/@40.6726938,-73.956928,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
            class="contact__address" target="_blank" rel="noreferrer noopener">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </address>
        <hr />
        <p class="contact__subtitle-date">Monday - Friday</p>
        <p class="contact-subtitle-time">06:00 AM - 10:00 PM</p>
        <p class="contact__subtitle-date">Saturday - Sunday</p>
        <p class="contact-subtitle-time">08:00 AM - 16:00 PM</p>
        <hr />
        <a class="contact__information" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__information" href="malito:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contact__buttons">
      <button class="btn contact__btn-location" data-popup-location-open>
        Our Locations
        <svg class="about__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
      <button class="btn contact__btn-franchise" data-popup-francise-open>
        Franchise
        <svg class="about__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="popup-location visually-hidden" data-popup-location>
    <div class="popup-location__body">
      <div class="popup-location__content">
        <button class="popup-location__btn-close" data-popup-location-close>
          <svg class="about__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-mob-menu-close"></use>
          </svg>
        </button>
        <h3 class="popup-contact__title">Our Locations</h3>
        <iframe class="popup-location__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.0578732747017!2d-73.95692804909342!3d40.67269377923488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1669435104375!5m2!1sru!2sua"
          width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <button class="btn popup-location__btn">
          Open map
          <!-- <a
            class="popup-location__link"
            href="https://goo.gl/maps/Yn29nd9ep5xPora9A"
            target="_blank"
            >Open map</a
          > -->
        </button>
      </div>
    </div>
  </div>
  <div class="popup-francise visually-hidden" data-popup-francise>
    <div class="popup-francise__body">
      <div class="popup-francise__content">
        <button class="popup-location__btn-close" data-popup-francise-close>
          <svg class="about__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-mob-menu-close"></use>
          </svg>
        </button>
        <h3 class="popup-francise__title">
          Thank you for your interest in owning an Ice Cream shop
        </h3>
        <p class="popup-francise__text">
          Due to the overwhelming volume of franchise requests we are not
          accepting new franchisee applications at this time. Once the
          application process resumes, we will contact you for further
          information. Please fill out the contact information below and we will
          reach out for additional information. We appreciate your patience.
        </p>
        <form class="popup-francise__form">
          <input class="popup-francise__input" type="text" placeholder="Name" />
          <input class="popup-francise__input" type="text" placeholder="Phone" />
          <input class="popup-francise__input" type="text" placeholder="Email" />
          <textarea class="popup-francise__input-comment" placeholder="Comment"></textarea>
          <button class="btn popup-francise__btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>