<section class="customer-reviews">
  <h2 class="title"></h2>
  <div
    class="image-slider swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
    <div class="image-slider__wrapper swiper-wrapper" id="swiper-wrapper-bec7855c6be0706c" aria-live="polite"
      style="transform: translate3d(0px, 0px, 0px);">
      <div class="image-slider__slide swiper-slide swiper-slide-active" role="group" aria-label="1 / 3"
        style="width: 237px;">
        <div class="image-slider__image">
          <picture>
            <source srcset="./images/customer-reviews/s1-min.png 1x, ./images/customer-reviews/s1@2x-min.png 2x"
              media="(min-width: 1200px)" />
          </picture>
          <img src="./images/customer-reviews/s1-min.png" alt="" loading="lazy">
        </div>
        <div class="image-slider__text">
          <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition,
            you have beautiful
            serving, cozy atmosphere and polite staff.
          </p>
        </div>
      </div>
      <div class="image-slider__slide swiper-slide swiper-slide-next" role="group" aria-label="2 / 3"
        style="width: 237px;">
        <div class="image-slider__image">
          <picture>
            <source srcset="./images/customer-reviews/s2-min.png 1x, ./images/customer-reviews/s2@2x-min.png 2x"
              media="(min-width: 1200px)" />
          </picture>
          <img src="./images/customer-reviews/s2-min.png" alt="" loading="lazy">
        </div>
        <div class="image-slider__text">
          <p>Every day we come to you with friends after classes in college. We love your ice cream and casual
            atmosphere!

          </p>
        </div>
      </div>
      <div class="image-slider__slide swiper-slide" role="group" aria-label="3 / 3" style="width: 237px;">
        <div class="image-slider__image">
          <picture>
            <source srcset="./images/customer-reviews/s3-min.png 1x, ./images/customer-reviews/s3@2x-min.png 2x"
              media="(min-width: 1200px)" />
          </picture>
          <img src="./images/customer-reviews/s3-min.png" alt="" loading="lazy">
        </div>
        <div class="image-slider__text">
          <p>Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service
            - always
            served politely and quickly!
          </p>
        </div>
      </div>

    </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
  </div>
</section>