<section class="gallery" id="gallery">
  <div class="gallery-wrapp">
    <div class="gallery-img">
      <picture class="gallery-img-top">
        <source srcset="./images/1gallery-1px-des.jpg 1x,
            ./images/1gallery-2px-des.jpg 2x" media="(min-width:1200px)" />
        <source srcset="./images/1gallery-1px-tab.jpg 1x,
             ./images/1gallery-2px-tab.jpg 2x" media="(min-width:768px)" />
        <source srcset="./images/1gallery-1px-mob.jpg 1x,
             ./images/1gallery-2px-mob.jpg 2x" media="(min-width:320px)" />
        <img class="gallery-picture" src="./images/1gallery-1px-des.jpg" alt="first-gallery" loading="lazy" width="1013"
          height="422">
      </picture>

    </div>
  </div>
</section>