<header class="header">
    <div class="container">
        <img class="header__logo" src="./images/header-logo.png" alt="Logo" width="60" height="60">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__items"><a class="header__link" href="#">Home</a></li>
                <li class="header__items"><a class="header__link" href="#">How it’s made?</a></li>
                <li class="header__items"><a class="header__link" href="#">Our products/a></li>
                <li class="header__items"><a class="header__link" href="#">Contact</a></li>
            </ul>
        </nav>
        <button class="header__btn btn" type="button">
            Buy now
            <svg class="header__btn-icon" width="12" height="12">
                <use href="./images/icons.svg#icon-btn-arrow"></use>
            </svg>
        </button>
    </div>
</header>