<section class="hero">
    <div class="container">
        <div class="hero__thumb">
            <div class="hero__text">
                <h1 class="hero__title">ice cream
                    made with
                    passion</h1>
                <ul class="hero__list list">
                    <li class="hero__items"><a class="hero__link--poducts link" href="#">Products</a></li>
                    <li class="hero__items"><a class="hero__link--made link" href="#">How it’s made?</a></li>
                </ul>
            </div>
            <ul class="hero__statistic-list list">
                <li class="hero__statistic-items">
                    <p class="hero__statistic-number">16</p>
                    <p class="hero__statistic-text">cafes</p>
                </li>
                <li class="hero__statistic-items">
                    <p class="hero__statistic-number">23</p>
                    <p class="hero__statistic-text">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero__description">
            <img class="hero__description-img" src="./images/hero-round-ice-cream.png" alt="Ice-cream plate">
            <div class="hero__description-container">
                <p class="hero__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et</p>
                <a class="hero__description-link link" href="#">
                    <svg class="hero__description-icon" width="40">
                        <use href="./images/icons.svg#icon-arrow-hero"></use>
                    </svg></a>
            </div>
        </div>
        <img class="hero__img" src="./images/hero-faces.png" alt="Ice-cream">
    </div>
</section>