<section class="hero">
    <div class="container hero__container">
        <div class="hero__thumb">
            <div class="hero__text">
                <h1 class="hero__title">ice cream<br>
                    made with<br>
                    passion</h1>
                <ul class="hero__list list">
                    <li class="hero__items"><a class="hero__link--poducts link" href="#products">Products</a></li>
                    <li class="hero__items"><a class="hero__link--made link" href="#about">How it’s made?</a></li>
                </ul>
            </div>
            <ul class="hero__statistic-list list">
                <li class="hero__statistic-items">
                    <p class="hero__statistic-number">16</p>
                    <p class="hero__statistic-text">cafes</p>
                </li>
                <li class="hero__statistic-items">
                    <p class="hero__statistic-number">23</p>
                    <p class="hero__statistic-text">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero__description">
            <picture class="hero__description-img">
                <source srcset=" ./images/hero-round-ice-cream.png 1x, 
                            ./images/hero-round-ice-cream-2x.png 2x" media="(min-width: 1200px)" />
                <source srcset=" ./images/hero-round-ice-cream-tab.png 1x, 
                            ./images/hero-round-ice-cream-tab-2x.png 2x" media="(min-width: 768px)" />
                <img class="hero__description-img" src="./images/hero-round-ice-cream.png" alt="Ice-cream plate"
                    width="225" loading="lazy" />
            </picture>
            <div class="hero__description-container">
                <p class="hero__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et</p>
                <a class="hero__description-link link" href="#advantages">
                    <svg class="hero__description-icon" width="40" height="16">
                        <use href="./images/icons.svg#icon-arrow-hero"></use>
                    </svg></a>
            </div>
        </div>
        <div class="hero__img-container">
            <picture class="hero__img">
                <source srcset=" ./images/hero-faces.png 1x, 
                            ./images//hero-faces-2x.png 2x" media="(min-width: 1200px)" />
                <source srcset=" ./images/hero-faces-tab.png 1x, 
                            ./images/hero-faces-tab-2x.png 2x" media="(min-width: 768px)" />
                <source srcset=" ./images/hero-faces-mob.png 1x, 
                            ./images/hero-faces-mob-2x.png 2x" media="(max-width: 767px)" />
                <img class="hero__img" src="./images/hero-faces.png" alt="Ice-cream" width="268" loading="lazy" />
            </picture>
            <div class="hero__img-blur"></div>
        </div>
    </div>
</section>