<section class="information" id="information">
  <div class="container-adv">
    <h2 class="invisible">Переваги</h2>

    <ul class="information-list">
      <li class="information-list_item">
        <div class="insite">
          <svg class="information-list_icon" width="36" height="36">
            <use href="./images/icons.svg#icon-cow">
            </use>
          </svg>
        </div>
        <h3 class="information-list_title">721</h3>
        <p class="information-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="information-list_item">
        <div class="insite">
          <svg class="information-list_icon" width="36" height="36">
            <use href="./images/icons.svg#icon-weight">
            </use>
          </svg>
        </div>
        <h3 class="information-list_title">16kg</h3>
        <p class="information-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="information-list_item">
        <div class="insite">
          <svg class="information-list_icon" width="50" height="36">
            <use href="./images/icons.svg#icon-ice-crema">
            </use>
          </svg>
        </div>
        <h3 class="information-list_title">84</h3>
        <p class="information-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>