<div class="backdrop-buy-now is-hidden" data-modal-buy-now>
    <div class="modal-buy-now">
        <div class="modal-buy-now__close-btn-container">
            <button class="modal-buy-now__close-btn" type="button" data-modal-close-buy-now>
                <svg class="modal-buy-now__close-btn-img" width="20" height="20">
                    <use href="./images/icons.svg#icon-close-broducts"></use>
                </svg>
            </button>
        </div>
        <div class="modal-buy-now__content">
            <p class="modal-buy-now__title">Buy now</p>
            <ul class="modal-buy-now__list">
                <li class="modal-buy-now__items modal-buy-now__items--ice-cream">
                    <div class="modal-buy-now__description modal-buy-now__description--ice-cream">
                        <p class="modal-buy-now__text">ice cream</p>
                    </div>
                </li>
                <li class="modal-buy-now__items modal-buy-now__items--coffee">
                    <div class="modal-buy-now__description modal-buy-now__description--coffee">
                        <p class="modal-buy-now__text">ice coffee</p>
                    </div>
                </li>
                <li class="modal-buy-now__items modal-buy-now__items--milkshake">
                    <div class="modal-buy-now__description modal-buy-now__description--milkshake">
                        <p class="modal-buy-now__text">milkshake</p>
                    </div>
                </li>
            </ul>
        </div>
        <form class="modal-buy-now__form" autocomplete="off">
            <div class="modal-buy-now__field">
                <label class="modal-buy-now__label"><input class="modal-buy-now__input" type="text" name="name"
                        placeholder="Name"></label>
            </div>
            <div class="modal-buy-now__field">
                <label class="modal-buy-now__label"><input class="modal-buy-now__input" type="tel" name="tel"
                        autocomplete="off" placeholder="Phone"></label>
            </div>
            <div class="modal-buy-now__field">
                <label class="modal-buy-now__label"><textarea class="modal-buy-now__comment" name="comment"
                        placeholder="Comment"></textarea></label>
            </div>
            <button type="submit" class="modal-buy-now__send-btn btn">Submit</button>
    </div>
</div>