<div class="backdrop-buy-now is-hidden" data-modal-buy-now>
    <div class="modal-buy-now">
        <div class="modal-buy-now__close-btn-container">
            <button class="modal-buy-now__close-btn" type="button" data-modal-close-buy-now>
                <svg class="modal-buy-now__close-btn-img" width="24" height="24">
                    <use href="./images/icons.svg#icon-close-broducts"></use>
                </svg>
            </button>
        </div>
        <div class="modal-buy-now__content">
            <p class="modal-buy-now__title">Buy now</p>
            <ul class="modal-buy-now__list">
                <li class="modal-buy-now__items">
                    <div class="modal-buy-now__description">
                        <p class="modal-buy-now__text">ice cream</p>
                    </div>
                </li>
                <li class="modal-buy-now__items">
                    <div class="modal-buy-now__description">
                        <p class="modal-buy-now__text">ice coffee</p>
                    </div>
                </li>
                <li class="modal-buy-now__items">
                    <div class="modal-buy-now__description">
                        <p class="modal-buy-now__text">milkshake</p>
                    </div>
                </li>
            </ul>
        </div>
        <form class="modal-buy-now__form" autocomplete="off">
            <div class="modal-buy-now__field">
                <!-- <label class="modal-buy-now__label" for="name">Name</label> -->
                <input class="modal-buy-now__input" type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="modal-buy-now__field">
                <!-- <label class="modal-buy-now__label" for="tel">Phone</label> -->
                <input class="modal-buy-now__input" type="tel" name="tel" id="tel" autocomplete="off"
                    placeholder="Phone">
            </div>
            <div class="modal-buy-now__field">
                <!-- <label class="modal-buy-now__label" for="comment">Comment</label> -->
                <textarea class="modal__comment" name="comment" id="comment" placeholder="Comment"></textarea>
            </div>
            <button type="submit" class="modal-buy-now__send-btn btn">Submit</button>
    </div>
</div>