.about {
  background-color: #84a178;
  padding-top: 61px;


  @include tablet {
    padding-top: 72px;
  }

  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about-pretitle {
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.23;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;

  @include tablet {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }

  @include desktop {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.about-title {
  display: block;
  font-family: Seymour One;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 200px;
  }

  @include tablet {
    margin-bottom: 72px;
    width: 100%;
    font-size: 34px;
    letter-spacing: 0.06em;
  }

  @include desktop {
    margin-bottom: 72px;
    width: 100%;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.about-image-text-btn {
  @include tablet {
    display: flex;
    gap: 32px;
  }

  @include desktop {
    display: flex;
    gap: 100px;
  }
}

.about-image {
  margin: 0 auto;
  position: relative;
  width: 279px;
  height: 279px;

  @include tablet {
    display: flex;
    width: calc((100% - 34px) / 2);
    height: 335px;
  }

  @include desktop {
    display: flex;
    // width: calc((100% - 100px)/ 2);
    height: 535px;
  }
}

.about-image__circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsla(47, 92%, 64%, 0.7);
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}

.about-image__item {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 22px;
  background-repeat: no-repeat;
  background-image: url('../images/cow-mobile1x.png');
  @include retina {
    background-image: url('../images/cow-mobile2x.png');
  }

  background-size: cover;
  @include tablet {
    background-image: url('../images/cow-tablet1x.png');
    @include retina {
      background-image: url('../images/cow-tablet2x.png');
    }
    top: 26px;
  }

  @include desktop {
    background-image: url('../images/cow-desktop1x.png');
    @include retina {
      background-image: url('../images/cow-desktop2x.png');
    }
    top: 39px;
  }
}

.about-text {
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 60px;
  margin-bottom: 20px;

  @include tablet {
    gap: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
    padding-top: 8px;
  }

  @include desktop {
    gap: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
    padding-top: 90px;
  }
}

.about-text__item {
  //display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;

  @include tablet {
    text-align: left;
    line-height: 1.76;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.76;
    padding-right: 105px;
  }
}

.about__btn {
  width: 152px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.about__btn-icon {
  margin-left: 4px;
}

.about__btn-nav {
  display: flex;
  justify-content: center;

  @include tablet {
    justify-content: left;
  }
}

.about-text-btn {
  @include tablet {
    width: calc((100% - 34px) / 2);
  }
}

.backdrop-about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(248, 210, 78, 0.1);
  opacity: 1;
  visibility: visible;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  z-index: 15;
  overflow-y: scroll;
}
.modal-about {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  overflow-y: scroll;
  position: fixed;
   transition: transform .25s cubic-bezier(.4, 0, .2, 1);
      transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
  @include tablet {
    width: 568px;
  }
  border-radius: 10px;
  border: 2px solid #f8d24e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px 28px;
  @include tablet {
    padding: 32px 60px;
  }

  text-align: center;
  z-index: 1;
  color: #131313;
  background: #fcfcfc;
}
.modal-about__button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: url('../images/cursor-ice.png'), auto;
  @include tablet {
    top: 20px;
    right: 20px;
  }
}
.modal-about__header {
  font-family: Seymour One;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  margin-bottom: 20px;
  @include tablet {
    font-size: 20px;
    line-height: 1.4;
  }
}
.modal-about__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
  text-align: left;
  margin-top: 20px;
  @include tablet {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 32px;
  }
}

.video__item {
  width: 224px;
  height: 199px;
  border-radius: 10px;
  background: #000000;
  @include tablet {
    width: 448px;
    height: 205px;
  }
}
