.customer-reviews {
  padding: 30px;
  min-height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/bg-mobile-1px-min.jpg);
  @include retina {
    background-image: url(../images/bg-mobile-2px-min.jpg);
  }
  @include tablet {
    background-image: url(../images/bg-tab-1px-min.jpg);

    @include retina {
      background-image: url(../images/bg-tab-2px-min.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/bg-desk-1px-min.jpg);

    @include retina {
      background-image: url(../images/bg-desk-2px-min.jpg);
    }
  }
}
.image-slider {
  padding: 30px 0 70px 0;
}
.image-slider__image {
  text-align: center;
}
.image-slider__image img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}
.image-slider__text {
  max-width: 968px;
  margin: 0 auto;
  padding: 39px 109px;
  background: #84a178;
  border-radius: 24px;
}

.image-slider__text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
