.customer-review {
  padding: 75px 0 393px 0;
  min-height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/bg-mobile-1px-min.jpg);
  @include retina {
    background-image: url(../images/bg-mobile-2px-min.jpg);
  }
  @include tablet {
    padding: 55px 0 379px 0;
    min-height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bg-tab-1px-min.jpg);

    @include retina {
      background-image: url(../images/bg-tab-2px-min.jpg);
    }
  }
  @include desktop {
    padding: 464px 0 228px 0;
    min-height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../images/bg-desk-1px-min.jpg);

    @include retina {
      background-image: url(../images/bg-desk-2px-min.jpg);
    }
  }
}
.image-slider {
  padding: 0 0 70px 0;
  position: relative;
}

.image-slider__image {
  text-align: center;
}
.image-slider__image img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.image-slider__text {
  max-width: 280px;
  margin: 0 auto;
  padding: 35px 39px;
  background: #84a178;
  border-radius: 10px;
  margin-bottom: 30px;

  @include tablet {
    max-width: 705px;
    margin: 0 auto;
    padding: 20px 80px;
    background: #84a178;
    border-radius: 24px;
    margin-bottom: 32px;
  }

  @include desktop {
    max-width: 968px;
    margin: 0 auto;
    padding: 43px 109px;
    background: #84a178;
    border-radius: 24px;
    margin-bottom: 32px;
  }
}

.image-slider__text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}

.name {
  font-weight: 500;
  line-height: 186%;
  text-align: center;
  color: #131313;
}

.image-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #84a178;
}
