.soc-list{
  display: flex;
}
.soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f8d24e;
}
.footer .icon {
  fill: #84a178;
}
