.soc-list {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  margin-bottom: 20px;
  cursor: url('../images/cursor-ice.png'), auto;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}
.soc-item {
  cursor: url('../images/cursor-ice.png'), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f8d24e;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: url('../images/cursor-ice.png'), auto;
  }

  &:hover .icon,
  &:focus .icon,
  &:active .icon {
    fill: #ffffff;
    cursor: url('../images/cursor-ice.png'), auto;
  }
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f8d24e;
}

.footer {
  & .icon {
    fill: #84a178;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link {
    color: #fcfcfc;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    cursor: url('../images/cursor-ice.png'), auto;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 16px;
    }
  }
  &__contact {
    color: #131313;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 16px;
    }
  }
  &__copy {
    border-top: 1px solid #e1e1e1;
    font-size: 14px;
    color: rgba(122, 122, 122, 1);
    line-height: 1.52;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    @include tablet {
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }
  &__homemade {
    color: #fcfcfc;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.22;
    margin-bottom: 16px;
    @include tablet {
      font-size: 26px;
      margin-bottom: 8px;
      width: 352px;
    }
    @include desktop {
      font-size: 30px;
      margin-bottom: 14px;
      width: 100%;
    }
  }
  &__column {
    @include tablet {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__passion {
    color: #fcfcfc;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 1.22;
    width: 200px;
    @include tablet {
      font-size: 48px;
      width: 352px;
    }
    @include desktop {
      font-size: 58px;
      width: 100%;
    }
  }
  &__main {
    text-align: left;
    margin-bottom: 60px;
    @include tablet {
      margin-bottom: 32px;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
}

address {
  text-align: right;
  margin-bottom: 20px;
}

.footer .container {
  @include tablet {
    display: flex;
    gap: 76px;
  }
  @include desktop {
    display: flex;
    gap: 356px;
    padding-bottom: 60px;
  }
}
